body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(199, 199, 199);
}

#DivButtons {
    height: 100%;
    width: 100%;
}

#comboScreen {
    display: flex;
    position: fixed;
    top: 2vh; /* Ajuste a posição em relação à altura da tela */
    left: 90%;
    font-size: 3vw; /* Ajusta o tamanho da fonte de acordo com a largura da tela */
    transform: translateX(-50%);
    background-position: 10%;
    width: 5vw;
    height: 10vw;
}

#tempo {
    position: fixed;
    font-size: 3vw;
    top: 0vh;
    left: 45%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    background-color: rgb(0, 228, 11);
    background-size: 100% 100%;
    background-clip: border-box;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#iniciar {
    position: fixed;
    display: flex;
    border-radius: 12%;
    top: 45%;
    left: 48%;
    width: 10vw; /* Ajuste proporcional à largura */
    height: 10vw;
    max-width: 90px; /* Limita o tamanho máximo */
    max-height: 90px;
    background-image: url('../assets/images/Play.png');
    background-size: cover;
    background-position: center;
   
}

#iniciar[disabled] {
    opacity: 0;
    pointer-events: none;
}

#pausarjogo {
    position: fixed;
    display: flex;
    top: 4vw;
    left: 0.5vw;
    width: 3vw; /* Ajuste proporcional */
    height: 3vw;
    border-radius: 8%;
}

#desistir {
    position: fixed;
    display: none;
    border-radius: 12%;
    align-items: center;
    top: 45%;
    left: 53vw;
    transform: translateX(-50%);
    width: 10vw; /* Ajuste proporcional */
    height: 10vw;
    max-width: 90px;
    max-height: 90px;
}

#desistir:hover {
    background-color: rgb(218, 218, 218);
}

#loadingScreen {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(44, 44, 44);
    color: rgb(255, 102, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

#textAnimation {
    font-size: 3rem;
    animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.content {
    display: none;
}

#textStatic2 {
    position: fixed;
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 9%;
}

#textstatic {
    position: fixed;
    font-size: 3.5vw;
    top: -1.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    background-color: black;
    background: linear-gradient(to right, rgb(255, 102, 0) 0%, rgb(255, 166, 0));
    background-size: 100% 100%;
    background-clip: border-box;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Media Queries para telas menores */

@media (max-width: 720px) {
    #comboScreen {
        font-size: 5vw;
        left: 80%;
    }

    #tempo {
        font-size: 6vw;
        top: 7vh;
    }

    #iniciar {
        width: 15vw;
        height: 15vw;
        max-width: 80px;
        max-height: 80px;
    }

    #pausarjogo {
        width: 9vw;
        height: 9vw;
    }

    #desistir {
        width: 15vw;
        height: 15vw;
    }
}

/* Ajustes para telas pequenas */

@media (max-width: 480px) {
    #comboScreen {
        font-size: 6vw;
        left: 70%;
    }

    #tempo {
        font-size: 8vw;
        top: 10vh;
    }

    #iniciar {
        width: 20vw;
        height: 20vw;
        max-width: 70px;
        max-height: 70px;
    }

    #pausarjogo {
        width: 12vw;
        height: 12vw;
    }

    #desistir {
        width: 20vw;
        height: 20vw;
    }
}
