body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(199, 199, 199);
}

#divteste{
    height: 100%;
    width: 100%;
}
#tempo{
    position: fixed;
    display: flex;
    font-size: 400%;
    position: fixed;
    top: -5%;
    left: 45%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(44, 44, 44);
    border-radius: 20%;
}

#iniciar{
    position: fixed;
    display: flex;
    transform: translate(-50%, -50%);
    justify-content: center;
    border-radius: 12%;
    align-items: center;
    top: 50%;
    right: 48%;
    width: 90px;
    height: 90px;
}

#iniciar[disabled] {
    opacity: 0;
    pointer-events: none;
}

#iniciar:hover{
    background-color: rgb(218, 218, 218);
}

#pausarjogo {
    position: fixed;
    display: flex;
    top: 7.5%;
    left: 5px;
    width: 65px;
    height: 65px;
    border-radius: 8%;
}

#desistir {
    position: fixed;
    display: none; /* Inicialmente escondido */
    border-radius: 12%;
    align-items: center;
    top: 45.6%;
    right: 46%;
    width: 90px;
    height: 90px;
}

#desistir:hover {
    background-color: rgb(218, 218, 218); /* Cor de fundo ao passar o mouse */
}

#loadingScreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(44, 44, 44);
    color: rgb(255, 102, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
    
}
#textAnimation{
    font-size: 3rem;
    animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.content{
    display: none;
}

#textStatic2 {
    position: fixed;
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 7%;
}

#textstatic {
    position: fixed;
    font-size: 350%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    background-color: black;
    background: linear-gradient(to right, rgb(255, 102, 0) 0,9%, rgb(255, 166, 0));
    background-size: 100% 100%;  
    background-clip: border-box; 
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
    
